# Administration
alias update="sudo apt update && sudo apt dist-upgrade --purge"
alias autopurge="sudo apt autopurge"
alias ip='ip --color'
alias ipb='ip --color --brief'

# Docker
alias docker-compose="docker compose"
alias dk="docker-compose"
alias dkr="docker-compose run --rm"
alias odk="optirun docker-compose"
alias odkr="optirun docker-compose run --rm"

# Python
alias sav="source .venv/bin/activate"
alias venv="python3 -m venv .venv"
alias pirr="pip install -r requirements.txt"
alias piu="pip install -U"

# Git
alias grpo="git remote prune origin"

# Divers
alias ytmp3="yt-dlp -x --audio-format=mp3"
GTG_BASE_DIR="~/.var/app/org.gnome.GTG"
alias gtgwork="ln -snvf $GTG_BASE_DIR-work $GTG_BASE_DIR"
alias gtgperso="ln -snvf $GTG_BASE_DIR-personal $GTG_BASE_DIR"
alias nv="__NV_PRIME_RENDER_OFFLOAD=1 __GLX_VENDOR_LIBRARY_NAME=nvidia"
alias rsw="sudo modprobe -r ath10k_pci && sudo modprobe ath10k_pci"

# Kitty
alias s="kitty +kitten ssh"

#alias unity="nv unityhub"
alias Godot4="nv ~/Apps/Godot/Godot_v4.3-beta1_linux.x86_64"
alias chromegpu="chromium --enable-unsafe-webgpu --enable-features=Vulkan,UseSkiaRenderer --user-data-dir=~/.config/chromium-dev-profile"

[[ -s "$HOME/.aliases-local" ]] && source "$HOME/.aliases-local" # local aliases
